<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div class="row">
     <div class="col-md-12">
        <div class="box box-default">
           <form (submit)="logOn($event)" role="form">
              <div class="box-header">
                 <h3 class="h3 page-header">Consultar certificado</h3>
                 <div>
                    <label class="">Informe o códido verificador</label>
                    <input class="form-control" name="codigo" type="text">
                 </div>
              </div>
              <div class="box-header">
                 <div>
                    <button type="submit" class="btn btn-primary">Validar</button>
                 </div>
              </div>
           </form>
        </div>
     </div>
  </div>
  <div class="row">
     <div class="col-md-12">
        <div class="box box-default">
           <table class="table table-bordered">
              <thead>
                 <tr>
                    <td colspan="3">
                       <h3 class="h4 ">Dados do Certificado</h3>
                    </td>
                 </tr>
              </thead>
              <tbody>
                 <tr>
                    <td colspan="3"><b>Aluno: </b>Willian</td>
                 </tr>
                 <tr>
                    <td><b>Evento: </b>Elaboração de Projetos para Técnicos Governamentais- Mossoró</td>
                 </tr>
                 <tr>
                    <td><b>Certificado emitido em: </b>23/10/2018 12:08:49</td>
                 </tr>
                 <tr>
                    <td><b>Carga Hoária:</b> 20 horas</td>
                 </tr>
                 <tr>
                    <td><b>Período:</b> de 06/11/2018 até 08/11/2018</td>
                 </tr>
                 <tr>
                    <td><b>Frequência:</b> 100%</td>
                 </tr>
              </tbody>
           </table>
        </div>
     </div>
  </div>
  <div class="row">
     <div class="col-md-12">
        <div class="box box-default">
           <div class="box-header with-border text-right">
              <h3 class="h4 text-center">Conteúdo Programatico</h3>
           </div>
           <div class="box-body table-responsive">
              <table class="table table-striped table-bordered">
                 <thead>
                    <tr>
                       <th>Módulo</th>
                       <th width="140px" class="text-center">Carga Horária</th>
                    </tr>
                 </thead>
                 <tbody>
                 </tbody>
              </table>
           </div>
        </div>
     </div>
  </div>
</div>

